[general]
targets = ["my_reminders", "github_assigned_issues", "github_assigned_prs", "work_linear"]
taskrc = "~/.taskrc"
log_level = "INFO"
annotation_links = true
merge_annotations = true
merge_tags = true

[my_reminders]
service = "applereminders"
description_template = "{{applereminderstitle}}"
# Only pull from Reminders list for now
lists = ["Reminders"]
# TODO: Add Family list once only_if_assigned support is implemented for applereminders service

[github_assigned_issues]
service = "github"
login = "edmundmiller"
token = "@oracle:eval:op read \"op://Private/GitHub Personal Access Token/token\""
username = "edmundmiller"
description_template = "{{githubnamespace}}/{{githubrepo}}: {{githubtitle}}"
# Only issues assigned to me, open, updated in last 3 months
query = "is:issue assignee:edmundmiller is:open updated:>=2025-09-09 -repo:edmundmiller/mill-docs"
include_user_issues = false
include_user_repos = false
add_tags = ["github", "assigned"]
default_priority = "L"

[github_assigned_prs]
service = "github"
login = "edmundmiller"
token = "@oracle:eval:op read \"op://Private/GitHub Personal Access Token/token\""
username = "edmundmiller"
description_template = "PR {{githubnamespace}}/{{githubrepo}}: {{githubtitle}}"
# Only PRs assigned to me, open, updated in last 3 months, exclude bots
query = "is:pr assignee:edmundmiller is:open updated:>=2025-09-09 -author:app/renovate -author:app/dependabot"
include_user_issues = false
include_user_repos = false
add_tags = ["github", "assigned", "pr"]
default_priority = "L"

# TODO: Add PR reviews target - uncomment when ready
# [github_reviews]
# service = "github"
# login = "edmundmiller"
# token = "@oracle:eval:op read \"op://Private/GitHub Personal Access Token/token\""
# username = "edmundmiller"
# description_template = "Review: {{githubnamespace}}/{{githubrepo}}: {{githubtitle}}"
# # PRs requesting your review that aren't drafts
# query = "is:pr review-requested:edmundmiller is:open draft:false"
# include_user_issues = false
# include_user_repos = false
# add_tags = ["github", "review"]
# default_priority = "H"

[work_linear]
service = "linear"
api_token = "@oracle:eval:op read \"op://Private/Linear Bugwarrior/credential\""
only_if_assigned = "edmund.a.miller@gmail.com"
status_types = ["unstarted", "started"]
import_labels_as_tags = true
add_tags = ["linear"]
default_priority = "M"
